@import "tailwindcss";

/* Acá le enseñamos a Tailwind nuestra identidad de marca Invicto */
@theme {
  --color-invicto-cyan: #00E5FF;
  --color-invicto-dark: #111111;
  --color-invicto-light: #F8F9FA;
  
  --font-oswald: var(--font-oswald), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
}

/* Ocultar las flechitas de los inputs numéricos (Paso 4 del plantel) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Estilo para un scrollbar más fino y moderno en la tabla */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 20px;
}